In [2]:
import pandas as pd
import numpy as np
from datetime import date,timedelta
import os
import matplotlib.pyplot as plt
plt.rcParams['font.sans-serif']=['SimHei'] #用来正常显示中文标签
plt.rcParams['axes.unicode_minus']=False #用来正常显示负号
import seaborn as sns
%matplotlib inline

# Read Data

In [6]:
path = '../input/train'

train_basic = pd.read_csv(os.path.join(path,'basic_information.csv'),encoding='ANSI')
train_weather = pd.read_csv(os.path.join(path,'weather.csv'),encoding='ANSI')
train_power = pd.read_csv(os.path.join(path,'power.csv'),encoding='ANSI')

path = '../input/test'

test_basic = pd.read_csv(os.path.join(path,'basic_information.csv'),encoding='ANSI')
test_weather = pd.read_csv(os.path.join(path,'weather.csv'),encoding='ANSI')
test_power = pd.read_csv(os.path.join(path,'power.csv'),encoding='ANSI')

## Training set
### basic information

In [7]:
train_basic.head()

     光伏用户名称 光伏用户编号  装机容量(kW)          经度         纬度
0  f1光伏发电用户     f1   239.220  119.218560  26.042931
1  f2光伏发电用户     f2   396.000  118.124457  24.695315
2  f3光伏发电用户     f3   397.870  117.002056  25.112496
3  f4光伏发电用户     f4   332.395  117.854904  26.744673
4  f5光伏发电用户     f5   201.140  120.022313  26.872516

<font size=5 face='雅黑'>the train_basic dataframe has columns:光伏用户名称', '光伏用户编号', '装机容量(kW)', '经度', '纬度'

In [9]:
train_basic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   光伏用户名称    9 non-null      object
 1   光伏用户编号    9 non-null      object
 2   装机容量(kW)  9 non-null      float64
 3   经度        9 non-null      float64
 4   纬度        9 non-null      float64
dtypes: float64(3), object(2)
memory usage: 488.0+ bytes

In [10]:
train_basic.describe()

          装机容量(kW)          经度         纬度
count     9.000000    9.000000   9.000000
mean   1535.180556  118.395248  25.600724
std    2050.145496    0.969891   0.949041
min     201.140000  117.002056  24.077638
25%     332.395000  117.740547  25.112496
50%     397.870000  118.124457  25.449233
75%    2000.000000  119.156033  26.280676
max    6000.000000  120.022313  26.872516

### weather

In [12]:
train_weather.head()

,光伏用户编号,时间,气压(Pa）,相对湿度（%）,云量,10米风速（10m/s）,10米风向（°),温度（K）,辐照强度（J/m2）,降水（m）,100m风速（100m/s）,100m风向（°)
0,f1,2022-1-3 0:00,100361.6094,79.3513,0.007812,1.1695,270.0,280.6320,0.0,0.000229,0.0,270.0
1,f1,2022-1-3 0:15,100351.1476,76.8741,0.007005,1.1490,270.0,280.6308,0.0,0.000229,0.0,270.0
2,f1,2022-1-3 0:30,100341.8609,74.9771,0.006890,1.1556,270.0,280.5719,0.0,0.000229,0.0,270.0
3,f1,2022-1-3 0:45,100333.2668,73.6136,0.007236,1.1807,270.0,280.4776,0.0,0.000229,0.0,270.0
4,f1,2022-1-3 1:00,100324.8828,72.7366,0.007812,1.2157,270.0,280.3705,0.0,0.000229,0.0,270.0

<font size=5 face='雅黑'>the train_weather dataframe has columns: '光伏用户编号', '时间', '气压(Pa）', '相对湿度（%）', '云量', '10米风速（10m/s）', '10米风向（°)',
       '温度（K）', '辐照强度（J/m2）', '降水（m）', '100m风速（100m/s）', '100m风向（°)'

In [13]:
train_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 417312 entries, 0 to 417311
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   光伏用户编号          417312 non-null  object
 1   时间              417312 non-null  object
 2   气压(Pa）          417312 non-null  float64
 3   相对湿度（%）         417312 non-null  float64
 4   云量              417312 non-null  float64
 5   10米风速（10m/s）    417312 non-null  float64
 6   10米风向（°)        417312 non-null  float64
 7   温度（K）           417312 non-null  float64
 8   辐照强度（J/m2）      417312 non-null  float64
 9   降水（m）           417312 non-null  float64
 10  100m风速（100m/s）  417312 non-null  float64
 11  100m风向（°)       417312 non-null  float64
dtypes: float64(10), object(2)
memory usage: 38.2+ MB

In [14]:
train_weather.describe()

,气压(Pa）,相对湿度（%）,云量,10米风速（10m/s）,10米风向（°),温度（K）,辐照强度（J/m2）,降水（m）,100m风速（100m/s）,100m风向（°)
count,417312.000000,417312.000000,417312.000000,417312.000000,417312.000000,417312.000000,417312.000000,417312.000000,417312.000000,417312.000000
mean,99069.642903,69.827813,0.644066,0.685355,246.380848,291.860249,174.914878,0.006974,1.065983,246.257137
std,2383.325663,25.765804,0.408450,1.187554,36.205261,7.344224,257.852394,0.014190,1.838762,35.861626
min,93293.210900,0.000000,0.000000,0.000000,180.000000,268.538300,0.000000,0.000000,0.000000,180.000000
25%,97186.486200,57.630650,0.186160,0.000000,215.892050,286.242175,0.000000,0.000008,0.000000,216.613825
50%,99784.652500,76.515200,0.906250,0.000000,270.000000,291.903500,0.000000,0.000888,0.000000,270.000000
75%,100994.211175,89.559225,1.000000,0.926490,270.000000,297.530150,296.787175,0.007496,1.506400,270.000000
max,103374.528500,105.853600,1.000000,10.006000,270.000000,314.426600,1010.516900,0.242010,13.959800,270.000000

### power

In [16]:
train_power.head()

,光伏用户编号,综合倍率,时间,p1,p2,p3,p4,p5,p6,p7,...,p87,p88,p89,p90,p91,p92,p93,p94,p95,p96
0,f1,80,2022-1-3 0:00,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,-0.0001,...,-0.0031,-0.0032,-0.0032,-0.0033,-0.0001,-0.0001,-0.0003,-0.0003,-0.0003,-0.0001
1,f1,80,2022-1-4 0:00,-0.0001,0.0000,-0.0001,0.0000,0.0,-0.0001,-0.0001,...,-0.0032,-0.0032,-0.0032,-0.0031,-0.0001,0.0000,-0.0001,-0.0001,-0.0001,-0.0001
2,f1,80,2022-1-5 0:00,-0.0003,-0.0001,0.0000,0.0000,0.0,-0.0001,-0.0001,...,-0.0016,-0.0016,-0.0016,-0.0017,0.0000,0.0000,0.0000,0.0000,0.0000,-0.0001
3,f1,80,2022-1-6 0:00,-0.0003,0.0000,-0.0003,-0.0001,0.0,0.0000,0.0000,...,-0.0016,-0.0016,-0.0016,-0.0016,0.0000,0.0000,0.0000,-0.0001,0.0000,0.0000
4,f1,80,2022-1-7 0:00,0.0000,-0.0001,-0.0001,0.0000,0.0,-0.0001,-0.0003,...,0.0000,-0.0001,0.0000,0.0000,0.0000,-0.0001,0.0000,0.0000,0.0000,0.0000

<font size=5 face='雅黑'>the train_power dataframe has columns:光伏用户编号', '综合倍率', '时间'

In [17]:
train_power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4337 entries, 0 to 4336
Data columns (total 99 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   光伏用户编号  4337 non-null   object
 1   综合倍率    4337 non-null   int64
 2   时间      4337 non-null   object
 3   p1      4290 non-null   float64
 4   p2      4269 non-null   float64
 5   p3      4269 non-null   float64
 6   p4      4246 non-null   float64
 7   p5      4290 non-null   float64
 8   p6      4276 non-null   float64
 9   p7      4262 non-null   float64
 10  p8      4245 non-null   float64
 11  p9      4290 non-null   float64
 12  p10     4284 non-null   float64
 13  p11     4263 non-null   float64
 14  p12     4264 non-null   float64
 15  p13     4290 non-null   float64
 16  p14     4273 non-null   float64
 17  p15     4261 non-null   float64
 18  p16     4261 non-null   float64
 19  p17     4290 non-null   float64
 20  p18     4282 non-null   float64
 21  p19     4280 non-null   float64
 22  p20     4255 non-null   float64
 23  p21     4289 non-null   float64
 24  p22     4279 non-null   float64
 25  p23     4277 non-null   float64
 26  p24     4258 non-null   float64
 27  p25     4295 non-null   float64
 28  p26     4284 non-null   float64
 29  p27     4276 non-null   float64
 30  p28     4267 non-null   float64
 31  p29     4287 non-null   float64
 32  p30     4278 non-null   float64
 33  p31     4266 non-null   float64
 34  p32     4247 non-null   float64
 35  p33     4280 non-null   float64
 36  p34     4281 non-null   float64
 37  p35     4265 non-null   float64
 38  p36     4255 non-null   float64
 39  p37     4278 non-null   float64
 40  p38     4273 non-null   float64
 41  p39     4270 non-null   float64
 42  p40     4246 non-null   float64
 43  p41     4284 non-null   float64
 44  p42     4276 non-null   float64
 45  p43     4260 non-null   float64
 46  p44     4264 non-null   float64
 47  p45     4272 non-null   float64
 48  p46     4272 non-null   float64
 49  p47     4263 non-null   float64
 50  p48     4249 non-null   float64
 51  p49     4284 non-null   float64
 52  p50     4277 non-null   float64
 53  p51     4270 non-null   float64
 54  p52     4249 non-null   float64
 55  p53     4282 non-null   float64
 56  p54     4283 non-null   float64
 57  p55     4263 non-null   float64
 58  p56     4250 non-null   float64
 59  p57     4284 non-null   float64
 60  p58     4274 non-null   float64
 61  p59     4267 non-null   float64
 62  p60     4259 non-null   float64
 63  p61     4288 non-null   float64
 64  p62     4278 non-null   float64
 65  p63     4267 non-null   float64
 66  p64     4254 non-null   float64
 67  p65     4277 non-null   float64
 68  p66     4277 non-null   float64
 69  p67     4257 non-null   float64
 70  p68     4249 non-null   float64
 71  p69     4284 non-null   float64
 72  p70     4274 non-null   float64
 73  p71     4266 non-null   float64
 74  p72     4239 non-null   float64
 75  p73     4272 non-null   float64
 76  p74     4266 non-null   float64
 77  p75     4259 non-null   float64
 78  p76     4248 non-null   float64
 79  p77     4277 non-null   float64
 80  p78     4271 non-null   float64
 81  p79     4258 non-null   float64
 82  p80     4253 non-null   float64
 83  p81     4269 non-null   float64
 84  p82     4278 non-null   float64
 85  p83     4260 non-null   float64
 86  p84     4245 non-null   float64
 87  p85     4275 non-null   float64
 88  p86     4270 non-null   float64
 89  p87     4247 non-null   float64
 90  p88     4245 non-null   float64
 91  p89     4286 non-null   float64
 92  p90     4278 non-null   float64
 93  p91     4252 non-null   float64
 94  p92     4254 non-null   float64
 95  p93     4285 non-null   float64
 96  p94     4281 non-null   float64
 97  p95     4267 non-null   float64
 98  p96     4249 non-null   float64
dtypes: float64(96), int64(1), object(2)
memory usage: 3.3+ MB

In [18]:
train_power.describe()

,综合倍率,p1,p2,p3,p4,p5,p6,p7,p8,p9,...,p87,p88,p89,p90,p91,p92,p93,p94,p95,p96
count,4337.000000,4290.000000,4269.000000,4269.000000,4246.000000,4290.000000,4276.000000,4262.000000,4245.000000,4290.000000,...,4247.000000,4245.000000,4286.000000,4278.000000,4252.000000,4254.000000,4285.000000,4281.000000,4267.000000,4249.000000
mean,1941.969103,-0.000602,-0.000597,-0.000595,-0.000588,-0.000601,-0.000598,-0.000594,-0.000589,-0.000602,...,-0.000719,-0.000651,-0.000659,-0.000638,-0.000608,-0.000606,-0.000609,-0.000607,-0.000604,-0.000600
std,2878.229374,0.000717,0.000714,0.000713,0.000708,0.000716,0.000713,0.000711,0.000708,0.000716,...,0.000959,0.000782,0.000783,0.000760,0.000719,0.000715,0.000717,0.000718,0.000716,0.000714
min,80.000000,-0.002200,-0.002200,-0.002200,-0.002200,-0.002200,-0.002200,-0.002200,-0.002200,-0.002200,...,-0.006000,-0.003600,-0.003700,-0.003400,-0.003600,-0.002200,-0.002200,-0.002200,-0.002200,-0.002200
25%,80.000000,-0.001400,-0.001400,-0.001400,-0.001400,-0.001400,-0.001400,-0.001400,-0.001400,-0.001400,...,-0.001400,-0.001400,-0.001400,-0.001400,-0.001400,-0.001400,-0.001400,-0.001400,-0.001400,-0.001400
50%,120.000000,-0.000200,-0.000200,-0.000200,-0.000100,-0.000200,-0.000200,-0.000200,-0.000200,-0.000200,...,-0.000200,-0.000200,-0.000200,-0.000200,-0.000200,-0.000200,-0.000200,-0.000200,-0.000200,-0.000200
75%,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

## test set

In [20]:
test_basic.head()

     光伏用户名称 光伏用户编号  装机容量(kW)          经度         纬度
0  f1光伏发电用户     f1   239.220  119.218560  26.042931
1  f2光伏发电用户     f2   396.000  118.124457  24.695315
2  f3光伏发电用户     f3   397.870  117.002056  25.112496
3  f4光伏发电用户     f4   332.395  117.854904  26.744673
4  f5光伏发电用户     f5   201.140  120.022313  26.872516

In [21]:
test_basic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   光伏用户名称    9 non-null      object
 1   光伏用户编号    9 non-null      object
 2   装机容量(kW)  9 non-null      float64
 3   经度        9 non-null      float64
 4   纬度        9 non-null      float64
dtypes: float64(3), object(2)
memory usage: 488.0+ bytes

In [22]:
test_basic.describe()

          装机容量(kW)          经度         纬度
count     9.000000    9.000000   9.000000
mean   1535.180556  118.395248  25.600724
std    2050.145496    0.969891   0.949041
min     201.140000  117.002056  24.077638
25%     332.395000  117.740547  25.112496
50%     397.870000  118.124457  25.449233
75%    2000.000000  119.156033  26.280676
max    6000.000000  120.022313  26.872516

In [23]:
test_weather.head()

,光伏用户编号,时间,气压(Pa）,相对湿度（%）,云量,10米风速（10m/s）,10米风向（°),温度（K）,辐照强度（J/m2）,降水（m）,100m风速（100m/s）,100m风向（°)
0,f1,2023-5-1 0:00,99453.6250,89.8487,0.89844,0.54929,270.0,287.6853,0.0,0.006908,0.00000,270.0
1,f1,2023-5-1 0:15,99445.4611,92.4332,0.92999,0.53548,270.0,287.7061,0.0,0.005454,0.00000,270.0
2,f1,2023-5-1 0:30,99434.1857,92.5277,0.92273,0.59624,270.0,287.6017,0.0,0.005404,0.00000,270.0
3,f1,2023-5-1 0:45,99420.7315,91.2865,0.90333,0.69339,270.0,287.4312,0.0,0.006106,0.13264,270.0
4,f1,2023-5-1 1:00,99406.0313,89.8641,0.89844,0.78874,270.0,287.2534,0.0,0.006908,0.29370,270.0

In [24]:
test_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79488 entries, 0 to 79487
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   光伏用户编号          79488 non-null  object
 1   时间              79488 non-null  object
 2   气压(Pa）          79488 non-null  float64
 3   相对湿度（%）         79488 non-null  float64
 4   云量              79488 non-null  float64
 5   10米风速（10m/s）    79488 non-null  float64
 6   10米风向（°)        79488 non-null  float64
 7   温度（K）           79488 non-null  float64
 8   辐照强度（J/m2）      79488 non-null  float64
 9   降水（m）           79488 non-null  float64
 10  100m风速（100m/s）  79488 non-null  float64
 11  100m风向（°)       79488 non-null  float64
dtypes: float64(10), object(2)
memory usage: 7.3+ MB

In [25]:
test_weather.describe()

,气压(Pa）,相对湿度（%）,云量,10米风速（10m/s）,10米风向（°),温度（K）,辐照强度（J/m2）,降水（m）,100m风速（100m/s）,100m风向（°)
count,79488.000000,79488.000000,79488.000000,79488.00000,79488.000000,79488.000000,79488.000000,79488.000000,79488.000000,79488.000000
mean,98378.928589,74.438161,0.770089,1.45198,228.914908,298.925763,228.223876,0.009934,2.309712,227.400394
std,2272.132927,17.505629,0.332989,1.74660,37.438199,4.057321,296.334860,0.019623,2.574937,36.543994
min,91562.358100,1.835000,0.000000,0.00000,180.000000,282.611900,0.000000,0.000000,0.000000,180.000000
25%,96795.170975,65.045500,0.592430,0.00000,187.522575,296.353800,0.000000,0.000367,0.000000,188.136475
50%,98814.014900,78.346900,0.982595,0.87337,228.099150,298.863550,0.000000,0.002985,1.576650,224.904950
75%,100369.607750,87.003300,1.000000,2.15300,270.000000,301.508625,439.459425,0.011136,3.645125,270.000000
max,101750.167000,103.783600,1.000000,17.75250,270.000000,313.196200,990.128600,0.215780,28.532100,270.000000

In [26]:
test_power.head()

  光伏用户编号  综合倍率             时间
0     f1    80  2023-5-1 0:00
1     f1    80  2023-5-2 0:00
2     f1    80  2023-5-3 0:00
3     f1    80  2023-5-4 0:00
4     f1    80  2023-5-5 0:00

In [27]:
test_power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   光伏用户编号  825 non-null    object
 1   综合倍率    825 non-null    int64
 2   时间      825 non-null    object
dtypes: int64(1), object(2)
memory usage: 19.5+ KB

In [28]:
test_power.describe()

              综合倍率
count   825.000000
mean   1951.757576
std    2886.195120
min      80.000000
25%      80.000000
50%     120.000000
75%    3000.000000
max    8000.000000